.footer
{
    font-family: 'inter', sans-serif;
    position: fixed;
    left: 55px;
    bottom: 5vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer a
{
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: medium;
}

.footer a:hover
{
    color: rgba(255, 255, 255, 1);
}